<div class="icon-bar two-up">
  <a class="item" href="/main">
    <i class="fa fa-video-camera"></i>
    <label>Monitoreo</label>
  </a>
  <a class="item" href="/main/show">
    <i class="fa fa-list"></i>
    <label>Lista</label>
  </a>
</div>

<div class="row">

  <!-- Uno-->
  <div class="small-12 large-6 columns">
  	<h2>Entrada</h2>
  	<ul class="clearing-thumbs" data-clearing>
	  <li>
	  	<a href="http://ghettosoft.co/ebzerweb/photos/full_Name_12042015184628882.jpg">
	  		<img class="imagesin" src="http://ghettosoft.co/ebzerweb/photos/full_Name_12042015184628882.jpg">
	  	</a>
	  </li>
	</ul>
	<p><strong>Placa:</strong> MWY 940</p>
	<p><strong>Fecha:</strong></p>
	<p><strong>Hora:</strong></p>
  </div>
  <!-- Fin-->

  <!-- Dos-->
  <div class="small-12 large-6 columns">
  	<h2>Salida</h2>
  	<div class="row">
  		<div class="small-12 columns">
		<select>
			<option></option>
		</select>
	</div>
  	<ul class="clearing-thumbs" data-clearing>
	  <li>
	  	<a href="http://ghettosoft.co/ebzerweb/photos/full_Name_12042015184628882.jpg">
	  		<img class="imagesout" src="http://ghettosoft.co/ebzerweb/photos/full_Name_12042015184628882.jpg">
	  	</a>
	  </li>
	</ul>
	<p><strong>Placa:</strong> MWY 940</p>
	<p><strong>Fecha:</strong></p>
	<p><strong>Hora:</strong></p>
  </div>
  <!-- Fin-->
  <h2>Corrección de Placas</h2>
    <table>
	  <thead>
	    <tr>
	      <th>Entrada/Salida</th>
	      <th>Placa</th>
	      <th>Fecha</th>
	      <th>Hora</th>
	      <th>Segmento</th>
	      <th>Editar</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <td>Entrada</td>
	      <td>ASD123</td>
	      <td>10/02/2015</td>
	      <td>22:30</td>
	      <td><img class="imgsegment" src="http://ghettosoft.co/ebzerweb/photos/segment_Name_12042015182910232.jpg"></td>
	      <td><i data-reveal-id="editarplaca" class="fa fa-pencil fa-2x"></i></td>
	    </tr>
	    <tr>
	      <td>Entrada</td>
	      <td>ASD123</td>
	      <td>10/02/2015</td>
	      <td>22:30</td>
	      <td><img class="imgsegment" src="http://ghettosoft.co/ebzerweb/photos/segment_Name_12042015182910232.jpg"></td>
	      <td><i data-reveal-id="editarplaca" class="fa fa-pencil fa-2x"></i></td>
	    </tr>
	    <tr>
	      <td>Entrada</td>
	      <td>ASD123</td>
	      <td>10/02/2015</td>
	      <td>22:30</td>
	      <td><img class="imgsegment" src="http://ghettosoft.co/ebzerweb/photos/segment_Name_12042015182910232.jpg"></td>
	      <td><i data-reveal-id="editarplaca" class="fa fa-pencil fa-2x"></i></td>
	    </tr>
	  </tbody>
	</table>
</div>

<div id="editarplaca" class="reveal-modal medium" data-reveal aria-labelledby="Editar Placa" aria-hidden="true" role="dialog">
  <h2>Editar Placa</h2>
  <div class="small-12 large-5 columns">
  	<img src="http://ghettosoft.co/ebzerweb/photos/segment_Name_12042015182910232.jpg">
  </div>
  <div class="small-12 large-6 columns">
  	<%= image_tag "placas.jpg" %>
  	<%= text_field_tag 'placa', '', class: 'positionplaca' %>
  </div>
  <div class="clearb">
  	<a data-reveal-id="confirmacion" class="button">Guardar</a>
  </div>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<div id="confirmacion" class="reveal-modal tiny" data-reveal aria-labelledby="secondModalTitle" aria-hidden="true" role="dialog">
  <p>Esta seguro de continuar con la operación?</p>
  <a class="button">Continuar</a>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>