<div class="icon-bar two-up">
  <a class="item"  href="/main">
    <i class="fa fa-video-camera"></i>
    <label>Monitoreo</label>
  </a>
  <a class="item" href="/main/show">
    <i class="fa fa-list"></i>
    <label>Lista</label>
  </a>
 
</div>

<div class="row">
  	<table>
	  <thead>
	    <tr>
	      <th class="text-center">Entrada/Salida</th>
	      <th class="text-center">Placa</th>
	      <th class="text-center">Fecha</th>
	      <th class="text-center">Hora</th>
	      <th class="text-center">Segmento</th>
	      <th class="text-center">Tiempo</th>
	      <th class="text-center">Corregida</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <td>Content Goes Here</td>
	      <td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
	      <td>Content Goes Here</td>
	      <td>Content Goes Here</td>
	      <td><img src="http://ghettosoft.co/ebzerweb/photos/segment_Name_12042015182910232.jpg"></td>
	      <td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
	      <td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
	    </tr>
	    <tr>
	      <td>Content Goes Here</td>
	      <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
	      <td>Content Goes Here</td>
	      <td>Content Goes Here</td>
	      <td>Content Goes Here</td>
	      <td>Content Goes Here</td>
	      <td>Content Goes Here</td>
	    </tr>
	    <tr>
	      <td>Content Goes Here</td>
	      <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
	      <td>Content Goes Here</td>
	      <td>Content Goes Here</td>
	      <td>Content Goes Here</td>
	      <td>Content Goes Here</td>
	      <td>Content Goes Here</td>
	    </tr>
	  </tbody>
	</table>
</div>	

