<%@entries.each do |entry|%>
	<tr>
	  <td class="text-center"><%=entry.plate_chars%></td>
	  <td class="text-center"><%=entry.entry_type_str%></td>
	  <td class="text-center"><%=image_tag 'http://'+entry.plate_segment_url, class: "imgsegment"%></td>
	  <td class="text-center"><%=radio_button_tag 'entry_id', entry.id%></td>
	</tr>
<%end%>