<%content_for :javascript do%>
  <%=javascript_include_tag "matchings"%>
<%end%>
<div class="row">

  	<table class="responsive">
	  <thead>
	    <tr>
	      <th class="text-center">Placa</th>
	      <th class="text-center">Entrada/Salida</th>
	      <th class="text-center">Fecha</th>
	      <th class="text-center">Hora</th>
	      <th class="text-center">Segmento</th>
	      <th class="text-center">Corregida</th>
	      <th class="text-center">Editar</th>
	      <th class="text-center">Aparear</th>
	    </tr>
	  </thead>
	  <tbody>
	    <%@entries.each do |entry|%>
        <tr>
		      <td class="text-center" id="entry_plate_char_<%=entry.id%>"><%=entry.plate_chars%></td>
		      <td class="text-center"><%=entry.entry_type_str%></td>		      
		      <td class="text-center"><%=entry.date%></td>
		      <td class="text-center"><%=entry.hours%></td>
		      <td class="text-center"><ul class="clearing-thumbs" data-clearing><li><a href="http://<%= entry.full_image_url %>"><%=image_tag 'http://'+entry.plate_segment_url, class: "imgsegment", id: "entry_plate_segment_url_#{entry.id}"%></a></li></ul></td>
		      <td class="text-center"><%=entry.edited_str%></td>
		      <td class="text-center"><i data-reveal-id="editar" class="fa fa-pencil fa-2x edit_plate" id="edit_entry_<%=entry.id%>"></i></td>
		      <td class="text-center"><i data-reveal-id="juntar" class="fa fa-link fa-2x paring_plate" id="paring_entry_<%=entry.id%>"></i></td>
		    </tr>
      <%end%>
	  </tbody>
	</table>
  <%= will_paginate @entries, previous_label: "Anterior", next_label: "Siguiente" %>
</div>

<div id="editar" class="reveal-modal tiny" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h2 id="modalTitle">Editar placa</h2>
  <%=form_for @entry, format: :json, remote: true, method: :put, html: {id: 'edit_plate_form', class: 'edit_plate_form'} do |f|%>
    <img id="edit_plate_segment_url" class="marginb" src="http://ghettosoft.co/ebzerweb/photos/segment_Name_12042015182910232.jpg">
    <p><strong>Placa: </strong><%=f.text_field :plate_chars%></p>
    <%=f.submit 'Editar', class: 'button'%>
  <%end%>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<div id="juntar" class="reveal-modal small" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h2 id="modalTitle">Aparear Vehículo</h2>
  <%=form_for @entry, format: :json, remote: true, method: :put, html: {id: 'matching_plate_form', class: 'matching_plate_form'} do |f|%>
    <p><strong>Placa: </strong><span id="matching_plate_chars"></span></p>
    <img class="marginb" id="matching_plate_segment_url" src="http://ghettosoft.co/ebzerweb/photos/segment_Name_23042015222343033.jpg"></br>
    <table class="scroll" id="matching_plate_chars">
      <thead>
        <tr>
            <th class="text-center">Placa</th>
            <th class="text-center">Entrada/Salida</th>
            <th class="text-center">Segmento</th>
            <th class="text-center">Juntar</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-center">Content 1</td>
          <td class="text-center">Content 2</td>
          <td class="text-center">Content 3</td>
          <td class="text-center"><%=radio_button_tag 'gender', 'male'%></td>
        </tr>
        <tr>
            <td class="text-center">Content 1</td>
            <td class="text-center">Content 2</td>
            <td class="text-center">Content 3</td>
            <td class="text-center"><%=radio_button_tag 'gender', 'male'%></td>
        </tr>
        <tr>
            <td class="text-center">Content 1</td>
            <td class="text-center">Content 2</td>
            <td class="text-center">Content 3</td>
            <td class="text-center"><%=radio_button_tag 'gender', 'male'%></td>
        </tr>
        <tr>
            <td class="text-center">Content 1</td>
            <td class="text-center">Content 2</td>
            <td class="text-center">Content 3</td>
            <td class="text-center"><%=radio_button_tag 'gender', 'male'%></td>
        </tr>
        <tr>
            <td class="text-center">Content 1</td>
            <td class="text-center">Content 2</td>
            <td class="text-center">Content 3</td>
            <td class="text-center"><%=radio_button_tag 'gender', 'male'%></td>
        </tr>
        <tr>
            <td class="text-center">Content 1</td>
            <td class="text-center">Content 2</td>
            <td class="text-center">Content 3</td>
            <td class="text-center"><%=radio_button_tag 'gender', 'male'%></td>
        </tr>
        <tr>
            <td class="text-center">Content 1</td>
            <td class="text-center">Content 2</td>
            <td class="text-center">Content 3</td>
            <td class="text-center"><%=radio_button_tag 'gender', 'male'%></td>
        </tr>
      </tbody>
    </table>
    <%=f.submit 'Aparear', class: 'button'%>
  <%end%>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
