<%content_for :javascript do%>
  <%= stylesheet_link_tag 'jquery-ui.min', :media => 'all' %>
  <%= javascript_include_tag 'jquery-ui.min' %>
  <%= javascript_include_tag 'additional-methods' %>
<%end%>
<div class="row">
	<h2>Lista de Entradas y Salidas Detectadas en Listas Blancas</h2>
	<table class="tablelist responsive">
	  <thead>
	    <tr>
	      <th class="text-center">Placa</th>
	      <th class="text-center">Entrada/Salida</th>
	      <th class="text-center">Fecha</th>
	      <th class="text-center">Hora</th>
	      <th class="text-center">Segmento</th>
	      <th class="text-center">Tiempo</th>
	      <th class="text-center">Corregida</th>
	    </tr>
	  </thead>
	  <tbody>
	    <%@entries.each do |entry|%>
	    	<tr>
		      <td><%=entry.plate_chars%></td>
		      <td><%=entry.entry_type_str%></td>		      
		      <td><%=entry.date%></td>
		      <td><%=entry.hours%></td>
		      <td>
		      	<ul class="clearing-thumbs" data-clearing>
		      		<li>
		      			<% if entry.plate_segment_url == "" %>
		      				<a href="http://<%=entry.full_image_url%>" class="button">
		      				<%= entry.entry_type_str %> manual</a>
		      			<% else %>
		      				<a href="http://<%=entry.full_image_url%>">
		      					<%=image_tag 'http://'+entry.plate_segment_url, class: "imgsegment"%>
		      				</a>
		      			<% end %>
		      		</li>
		      	</ul>
		      </td>
		      <td><%=entry.time%></td>
		      <td><%=entry.edited_str%></td>
		    </tr>	
	    <%end%>
	  </tbody>
	</table>
	<%= will_paginate @entries, previous_label: "Anterior", next_label: "Siguiente" %>
</div>