<%content_for :javascript do%>
	<%=javascript_include_tag "white_lists"%>
  <%= stylesheet_link_tag 'jquery-ui.min', :media => 'all' %>
  <%= javascript_include_tag 'jquery-ui.min' %>
<%end%>
<div class="row">
	<h2>Lista Blanca</h2>
  	<ul class="button-group">
  		<% if current_user.role == "admin" %>
	  	<li><a data-reveal-id="agregarplaca" class="button" id="agregar_btn">Agregar</a></li>
	  	<li><a data-reveal-id="eliminar" class="button alert">Eliminar</a></li>
	  	<% end %>
	  	<li><%=link_to "Descargar <i class='fa fa-download'></i>".html_safe, white_lists_path(format: :xlsx), class: 'button'%></li>
	  	<li><a data-reveal-id="buscarplaca" class="button" id="buscar_placa_button">Buscar</a></li>
	</ul>

  	<table class="tablelist responsive">
	  <thead>
	    <tr>
	      <th class="text-center">Placa</th>
	      <th class="text-center">Motivo</th>
          <% if current_user.role == "admin" %><th class="text-center">Eliminar</th><% end %>
	    </tr>
	  </thead>
	  <tbody>
    	<%@white_lists.each do |white_list|%>
    		<tr>
		      <td class="text-center"><%=white_list.plate%></td>
              <td class="text-center"><%=white_list.motivo%></td>
		      <% if current_user.role == "admin" %><td class="text-center"><%=check_box_tag 'white_lists', white_list.id, false, class: 'white_lists', autocomplete: :off %></td><% end %>
		    </tr>
    	<%end%>
	  </tbody>
	</table>
	<%= will_paginate @white_lists, previous_label: "Anterior", next_label: "Siguiente" %>
</div>

<div id="agregarplaca" class="reveal-modal tiny" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h2 id="modalTitle">Agregar Placa</h2>
		<%=form_for @white_list, format: :json, remote: true do |f|%>
			<p id="nueva_placa_mensaje"></p>
	  		<p><strong>Placa: </strong><%=f.text_field :plate, autofocus: :true %></p>
			<p><strong>Motivo: </strong><%=f.text_field :reason%></p>
			<input type="hidden" name="search_b" id="white_list_search_b" value="false">
      		<%=f.submit 'Agregar', class: 'button', id: 'agregar_placa_submit' %>
		<%end%>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<div id="eliminar" class="reveal-modal tiny" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h2 id="modalTitle">Eliminar Placa(s)</h2>
  <p>Desea continuar con la operación?</p>
  
  <a class="button" id="continue">Continuar</a>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<div id="buscarplaca" class="reveal-modal small" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
	<h2 id="modalTitle">Buscar placa</h2>
	<p id="buscar_placa_mensaje"></p>
	<%= form_tag white_lists_search_path, remote: true, :id => "buscar_placa_form", method: :get do |f|%>	
		<input type="text" placeholder="Placa" id="buscar_placa_input" name="plate">
		<input type="submit" class="button" value="Buscar">
	<% end %>
	<a class="close-reveal-modal" aria-label="Close">&#215;</a>	
</div>

<div id="placaencontrada" class="reveal-modal medium" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
	<h2 id="modalTitle">Placa encontrada</h2>
	<table class="tablelist responsive">
	  	<thead>
	    	<tr>
	      		<th class="text-center">Placa</th>
	      		<th class="text-center">Motivo</th>
	    	</tr>
	  	</thead>
	  	<tbody>
    		<tr>
				<td class="text-center" id="placa_encontrada"></td>
          		<td class="text-center" id="motivo_placa_encontrada"></td>
		    	<% if current_user.role == "admin" %>
		    	<td class="text-center"><input type="hidden" id="id_placa_encontrada" value="">
				<a class="button" id="editar_placa_encontrada" data-reveal-id="editarplacaencontrada">Editar</a>
				<a class="button alert" id="borrar_placa_encontrada">Borrar</a>
				<% end %>
</td>
			</tr>
    	</tbody>
	</table>
	<a class="close-reveal-modal" aria-label="Close">&#215;</a>	
</div>

<div id="editarplacaencontrada" class="reveal-modal tiny" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h2 id="modalTitle">Editar Placa</h2>
          <%= form_tag white_lists_update_path, remote: true, id: "editar_placa_encontrada_form", method: :post do |f| %>
          <p><strong>Placa:  </strong><input type="text" placeholder="Placa" id="editar_placa_input" name="edit_plate"></p>
          <p><strong>Motivo: </strong><input type="text" placeholder="Motivo" id="editar_motivo_input" name="edit_motivo"></p>
	  <input type="hidden" name="id_placa_edit" value="" id="id_placa_edit">
	  <p><input type="submit" class="button" value="Guardar" id="editar_placa_submit" >
          <%end%>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

