<%content_for :javascript do%>
  <%= stylesheet_link_tag 'jquery-ui.min', :media => 'all' %>
  <%= javascript_include_tag 'jquery-ui.min' %>
  <%= javascript_include_tag 'additional-methods' %>
  <%=javascript_include_tag 'entries'%>
<%end%>
<div class="row">
	<h2>Lista de Entradas y Salidas</h2>
	<%=form_tag entries_search_path, method: :get do |f|%>
    <div class="row borderbsearch">
  		<div class="small-12 large-3 columns">
        <div class="large-12 columns">
  			 <input type="text" id="datepicker_inicial" placeholder="Fecha Inicial" name="initial_date" value="<%=@initial_date.nil? ? '' : @initial_date%>">
        </div>
  		</div>
  		<div class="small-12 large-3 columns">
        <div class="large-12 columns">
  			 <input type="text" id="datepicker_final" placeholder="Fecha Final" name="final_date" value="<%=@final_date.nil? ? '' : @final_date%>">
        </div>
  		</div>
    	<div class="small-12 large-3 columns">
    		<div class="large-12 columns">
  		    <input type="text" placeholder="Placa" name="plate_chars" value="<%=@plate_chars.nil? ? '' : @plate_chars%>" id="entry_plate_chars"/>
  		  </div>
    	</div>
      <div class="small-12 large-3 columns">
        <div class="large-12 columns text-center">
          <button type="submit" class="button">
            Buscar <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
  	</div>
  	<%end%>
	   <%=link_to "Descargar <i class='fa fa-download'></i>".html_safe, entries_search_path(format: :xlsx, initial_date: params[:initial_date], final_date: params[:final_date], plate_chars: params[:plate_chars]), class: 'button'%>
  	<table class="tablelist responsive">
	  <thead>
	    <tr>
	      <th class="text-center">Placa</th>
	      <th class="text-center">Entrada/Salida</th>
	      <th class="text-center">Fecha</th>
	      <th class="text-center">Hora</th>
	      <th class="text-center">Segmento</th>
	      <th class="text-center">Tiempo</th>
	      <th class="text-center">Corregida</th>
	    </tr>
	  </thead>
	  <tbody>
	    <%@entries.each do |entry|%>
	    	<tr>
		      <td><%=entry.plate_chars%></td>
		      <td><%=entry.entry_type_str%></td>		      
		      <td><%=entry.date%></td>
		      <td><%=entry.hours%></td>
		      <td><ul class="clearing-thumbs" data-clearing><li><a href="http://<%=entry.full_image_url%>"><%=image_tag 'http://'+entry.plate_segment_url, class: "imgsegment"%></a></li></ul></td>
		      <td><%=entry.time%></td>
		      <td><%=entry.edited_str%></td>
		    </tr>	
	    <%end%>
	  </tbody>
	</table>
	<%= will_paginate @entries, previous_label: "Anterior", next_label: "Siguiente" %>
</div>