<%content_for :javascript do%>
	<%=javascript_include_tag "users"%>
<%end%>

<div class="row">
	<h2>Edición de usuario</h2>
	<% flash.each do |key, value| %>
		<% if key == "success" %>
			<div data-alert class="alert-box success radius">
	  			<%= value %> <a href="/admin/users/">Volver</a>
	  			<a href="#" class="close">&times;</a>
			</div>
		<% end %>
		<% if key == "notice" %>
			<div data-alert class="alert-box alert radius">
	  			<%= value %>
	  			<a href="#" class="close">&times;</a>
			</div>
		<% end %>
    <% end %>
    
	<div id="errores"></div>
	<%= form_for(@user, html: {method: :put}) do |f| %>

		<% if current_user.role == "admin" %>	
		<p><label for="user_role"><strong>Tipo de usuario: </strong></label></p>
		<p>
			<select name="user[role]" id="user_role">
				<option value="admin" <% if @user.role == "admin"%> selected <% end %> >Administrador</option>
				<option value="user" <% if @user.role == "user"%> selected <% end %>>Usuario</option>
			</select>
		</p>
		<% end %>

		<p><label for="user_full_name"><strong>Nombres y Apellidos: </strong></label></p>
		<p><%= text_field_tag :user_full_name, nil, name: "user[full_name]", class: "input_edit_form", value: @user.full_name %></p>

		<p><label for="user_colombian_id"><strong>Cédula: </strong></label></p>
		<p><%= text_field_tag :user_colombian_id, nil, name: "user[colombian_id]", class: "input_edit_form", value: @user.colombian_id %></p>

		<p><label for="user_email"><strong>E-mail: </strong></label></p>
		<p><%= email_field_tag :user_email, nil, name: "user[email]", class: "input_edit_form", value: @user.email %></p>

		<p><label for="user_password"><strong>Contraseña: </strong></label></p>
		<p><%= password_field_tag :user_password, nil, autocomplete: "off", name: "user[password]" %></p>

		<p><label for="user_password_confirmation"><strong>Confirmación de contraseña: </strong></label></p>
		<p><%= password_field_tag :user_password_confirmation, nil, autocomplete: "off", name: "user[password_confirmation]" %></p>

		<p><%= f.submit "Guardar", class: "button" %></p>
	<% end %>
</div>
