<div class="row">
	<h1>Usuarios del sistema</h1>

	<% flash.each do |key, value| %>
		<div data-alert class="alert-box success radius">
  			<%= value %>
  			<a href="#" class="close">&times;</a>
		</div>
    	
    <% end %>

	<ul class="button-group">
	  	<li><a href="<%= new_user_path %>" class="button"><strong>Nuevo</strong></a></li>
	</ul>

	<table class="tablelist responsive">
		<thead>
			<tr>
				<th class="text-center"><strong>No.</strong></th>
				<th class="text-center"><strong>Tipo de usuario</strong></th>
				<th class="text-center"><strong>Nombres y Apellidos</strong></th>
				<th class="text-center"><strong>E-mail</strong></th>
				<th class="text-center" width="260"><strong>Acciones</strong></th>
			</tr>
		</thead>
		<tbody>
			<% num = 1 %>
			<% @users.each do |user| %>
				<tr>
					<td class="text-center"><%= num %></td>
					<td class="text-center">
					<% if user.role == "admin" %>
						Administrador
					<% else %>
						Usuario
					<% end %>
					</td>
					<td class="text-center"><%= user.full_name %></td>
					<td class="text-center"><%= user.email %></td>
					<td class="text-center">
					<a href="/admin/users/<%= user.id %>/edit" class="button small"><strong>Editar</strong></a>
					<% if user.is_active? %><a href="/admin/users/<%= user.id %>?opt=1" data-method="delete" rel="nofollow" data-confirm="¿Está seguro de bloquear este usuario?" class="button small alert"><strong>Bloquear</strong></a>
					<% else %>
					<a href="/admin/users/<%= user.id %>?opt=2" data-method="delete" rel="nofollow" class="button small success"><strong>Desbloquear</strong></a>
					<% end %>
					</td>
				</tr>
				<% num = num + 1 %>
			<% end %>
		</tbody>
	</table>
</div>