<%content_for :javascript do%>
	<%=javascript_include_tag "users"%>
<%end%>
<br>
<div class="row">
	<% flash.each do |key, value| %>
		<% if key == "success" %>
			<div data-alert class="alert-box success radius">
	  			<%= value %> <a href="/admin/users/">Volver</a>
	  			<a href="#" class="close">&times;</a>
			</div>
		<% end %>
		<% if key == "notice" %>
			<div data-alert class="alert-box alert radius">
	  			<%= value %>
	  			<a href="#" class="close">&times;</a>
			</div>
		<% end %>
    <% end %>

	<h2>Nuevo usuario</h2>
	<div id="errores"></div>
	<%= form_for(@user) do |f| %>

		<p><label for="user_role"><strong>Tipo de usuario: </strong></label></p>
		<p>
			<select name="user[role]" id="user_role">
				<option value="admin">Administrador</option>
				<option value="user">Usuario</option>
			</select>
		</p>

		<p><label for="user_full_name"><strong>Nombres y apellidos: </strong></label></p>
		<p><%= text_field_tag :user_full_name, nil, name: "user[full_name]", class: "input_new_form", value: @user.full_name %></p>

		<p><label for="user_colombian_id"><strong>Cédula: </strong></label></p>
		<p><%= text_field_tag :user_colombian_id, nil, name: "user[colombian_id]", class: "input_new_form", value: @user.colombian_id %></p>

		<p><label for="user_email"><strong>E-mail: </strong></label></p>
		<p><%= email_field_tag :user_email, nil, name: "user[email]", class: "input_new_form", value: @user.email %></p>

		<p><label for="user_password"><strong>Contraseña: </strong></label></p>
		<p><%= password_field_tag :user_password, nil, name: "user[password]", autocomplete: "off", class: "input_new_form" %></p>

		<p><label for="user_password_confirmation"><strong>Confirmación de contraseña: </strong></label></p>
		<p><%= password_field_tag :user_password_confirmation, nil, name: "user[password_confirmation]", autocomplete: "off", class: "input_new_form" %></p>

		<input type="hidden" name="user[created_by]" value="<%= current_user.id %>">

		<p><%= f.submit "Guardar", class: "button" %></p>
	<% end %>
</div>
