<%content_for :javascript do%>
  <%=javascript_include_tag "users"%>
<%end%>
<div class="row wrapper">
  <div class="small-12 medium-5 large-5 columns">
    <img src="/Logo-Ebenezer-RGB.png" alt="Ebenezer Technologies">
  </div>
  <div class="small-12 medium-7 large-7 columns"></div>
  <div class="row">
    <div class="small-12 medium-5 large-5 columns"></div>
    <div class="small-12 medium-7 large-7 columns">
      <div style="padding: 10px;" id="change_password">
        <h2>Cambie su contraseña</h2>
        <div id="errores"></div>
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>
          <%= f.hidden_field :reset_password_token %>

          <div class="field">
            <p><label for="user_password"><strong>Contraseña nueva: </strong></label></p>
            <p> <%= password_field_tag :user_password, nil, name: "user[password]", autofocus: true, autocomplete: "off", class: "input_edit_form" %></p>
          </div>

          <div class="field">
            <p><label for="user_password_confirmation"><strong>Confirmación de contraseña nueva: </strong></label></p>
            <p> <%= password_field_tag :user_password_confirmation, nil, name: "user[password_confirmation]", autocomplete: "off", class: "input_edit_form" %></p>
          </div>

          <div class="actions">
            <%= f.submit "Cambiar contraseña", class: "button" %>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>












