
<div class="row wrapper">
  <div class="small-12 medium-5 large-5 columns">
    <img src="/Logo-Ebenezer-RGB.png" alt="Ebenezer Technologies">
  </div>
  <div class="small-12 medium-7 large-7 columns"></div>
  <div class="row">
    <div class="small-12 medium-5 large-5 columns"></div>
    <div class="small-12 medium-7 large-7 columns">
      <div style="padding: 10px;">
		<h2>¿Olvidó su contraseña?</h2>

		<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
		  <%= devise_error_messages! %>

		  <div class="field">
		    <p><label for="user_email"><strong>E-mail</strong></label></p>
		    <p><%= f.email_field :email, autofocus: true %></p>
		  </div>

		  <div class="actions">
		    <%= f.submit "Enviar instrucciones", class: "button" %>
		  </div>
		<% end %>
		<%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>







