<% if user_signed_in? %>
<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="<%= root_path %>"><%= image_tag "ebenezer.png", class: "logoeb"%></a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li <% if params[:controller] == 'site' %>class="active"<%end%>>
        <%=link_to "<i class='fa fa-video-camera fa-2x'></i><label>Monitoreo</label>".html_safe, :root, class: 'item widthlinav topmenulineheight visible-for-medium-up'%>
        <%=link_to "<i class='fa fa-video-camera fa-2x'></i> Monitoreo".html_safe, :root, class: 'visible-for-small-only'%>
        
      </li>
      
      <li class="has-dropdown <% if params[:controller] == 'entries' %>active<%end%>">
        <a class="item widthlinav topmenulineheight visible-for-medium-up"><i class="fa fa-list fa-2x"></i> <label>Lista</label></a>
        <a class="visible-for-small-only"><i class="fa fa-list fa-2x"></i> Lista</a>
        <ul class="dropdown">
          <li><%=link_to "Todo", entries_path(format: :html)%></li>
          <li><%=link_to "Placas Corregidas", entries_edited_path(format: :html)%></li>
        </ul>
      </li>

      <li <% if params[:controller] == 'matchings' %>class="active"<%end%>>
        <%=link_to "<i class='fa fa-link fa-2x'></i><label>Aparear</label>".html_safe, matchings_path(format: :html), class: 'item widthlinav topmenulineheight visible-for-medium-up'%>
        <%=link_to "<i class='fa fa-link fa-2x'></i> Aparear".html_safe, matchings_path(format: :html), class: 'visible-for-small-only'%>
      </li>

      <li class="has-dropdown <% if params[:controller] == 'white_lists' %>active<%end%>">
        <a class="item widthlinav topmenulineheight visible-for-medium-up"><i class="fa fa-star fa-2x"></i> <label style="width: 78px">Lista Blanca</label></a>
        <a class="visible-for-small-only"><i class="fa fa-star fa-2x"></i> Lista Blanca</a>
        <ul class="dropdown">
          <li><%=link_to "Todo", white_lists_path(format: :html)%></li>
          <li><%=link_to "Detectadas", white_lists_detected_path(format: :html)%></li>
        </ul>
      </li>

      <li class="has-dropdown <% if params[:controller] == 'black_lists' %>active<%end%>">
        <a class="item widthlinav topmenulineheight visible-for-medium-up"><i class="fa fa-exclamation-triangle fa-2x"></i> <label>Lista Negra</label></a>
        <a class="visible-for-small-only"><i class="fa fa-exclamation-triangle fa-2x"></i> Lista Negra</a>
        <ul class="dropdown">
          <li><%=link_to "Todo", black_lists_path(format: :html)%></li>
          <li><%=link_to "Detectadas", black_lists_detected_path(format: :html)%></li>
        </ul>
      </li>
      
      <% if current_user.role == "admin" %>
      <li class="has-dropdown <% if params[:controller] == 'settings' || params[:controller] == 'users' %> active<%end%>" >
        <a class="item widthlinav topmenulineheight visible-for-medium-up"><i class="fa fa-gear fa-2x"></i><label>Configuración</label></a>
        <a class="visible-for-small-only"><i class="fa fa-gear fa-2x"></i> Configuración</a>
        <ul class="dropdown">
          <li><%= link_to "Configuración", settings_path(format: :html) %></li>
          <li><%= link_to "Usuarios", users_path %></li>
        </ul>
      </li>
      <% end %>

  </section>
</nav>
<% end %>
