<%content_for :javascript do%>
	<%=javascript_include_tag "black_lists"%>
  <%= stylesheet_link_tag 'jquery-ui.min', :media => 'all' %>
  <%= javascript_include_tag 'jquery-ui.min' %>  
<%end%>
<div class="row">
	<h2>Lista Negra</h2>
  <ul class="button-group">
  	  <% if current_user.role == "admin" %>
	  <li><a data-reveal-id="agregarplaca" class="button" id="agregar_placa_negra">Agregar</a></li>
	  <li><a data-reveal-id="eliminar" class="button alert">Eliminar</a></li>
	  <% end %>
	  <li>
      <%=link_to "Descargar <i class='fa fa-download'></i>".html_safe, black_lists_path(format: :xlsx), class: 'button'%>
    </li>
	</ul>

  	<table class="tablelist responsive">
	  <thead>
	    <tr>
	      <th class="text-center">Placa</th>
	      <th class="text-center">Motivo</th>
          <% if current_user.role == "admin" %><th class="text-center">Eliminar</th><% end %>
	    </tr>
	  </thead>
	  <tbody>
    	<%@black_lists.each do |black_list|%>
    		<tr>
		      <td class="text-center"><%=black_list.plate%></td>
              <td class="text-center"><%=black_list.motivo%></td>
		      <% if current_user.role == "admin" %><td class="text-center"><%=check_box_tag 'black_lists', black_list.id, false, class: 'black_lists', autocomplete: :off%></td><% end %>
		    </tr>
    	<%end%>
	  </tbody>
	</table>
</div>

<div id="agregarplaca" class="reveal-modal tiny" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h2 id="modalTitle">Agregar Placa</h2>
	  <%=form_for @black_list, format: :json, remote: true do |f|%>
	  	<p id="nueva_placa_mensaje"></p>
	  	<p><strong>Placa: </strong><%=f.text_field :plate%></p>
		<p><strong>Motivo: </strong><%=f.text_field :reason%></p>
		<input type="hidden" name="search_w" id="black_list_search_w" value="false">
      <%=f.submit 'Agregar', class: 'button'%>
		<%end%>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<div id="eliminar" class="reveal-modal tiny" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h2 id="modalTitle">Eliminar Placa(s)</h2>
  <p>Desea continuar con la operación?</p>
  
  <a class="button" id="continue">Continuar</a>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>