<%content_for :javascript do%>
  <%=javascript_include_tag "settings"%>
<%end%>

<div class="row">
  <% begin %>
  	
    <h2>Parqueadero: <%=@parking_setting.name%></h2>
  	
    <a id="edit" style="font-size: 14px;" class="button tiny button">Editar</a>
    
    <a id="camaras" style="font-size: 14px;" href ="/cameras" class="button tiny button">Camaras</a>
    
    <a id="conf_manager" style="font-size: 14px;" class="button tiny button">Conf. Red</a>
    
    <a id="backup_usb" style="font-size: 14px;" class="button tiny button">Backup usb</a>

    <a id="drop_tables" style="font-size: 14px;" class="button tiny button">Borrar datos</a>

    <p><strong>Propietario: </strong><span><%=@parking_setting.owner%></span></p>
  	<p><strong>Ubicación: </strong><span><%=@parking_setting.location%></span></p>
  	<p><strong>Capacidad Max: </strong><span><%=@parking_setting.maximum_capacity%></span></p>
    <p><strong>Nro Entradas: </strong><span><%=@parking_setting.number_of_entries%></span></p>
    <p><strong>Disponibles: </strong><span><%=@parking_setting.available_capacity%></span></p>
  	<p><strong>Descripción: </strong><span><%=@parking_setting.observations%></span></p>
    <p><strong>Numero de Camaras: </strong><%=@parking_setting.number_of_cameras%></p>
  <% rescue %>
    <p>NULL</p>
  <% end %>
</div>

<% for i in(1..@parking_setting.number_of_cameras) %>
  <div id="settings_row" style="border-style: solid; margin-left: 170px; margin-right: 170px; background: #fafafa; border-color: #dfdfdf; border-width: 1px;" >
    <br>
    <div class="row">
      <div class="large-4 columns"><label>Camaras disponibles</label></div>
      <div class="large-4 columns"><label>Entrada/Salida</label></div>
      <div class="large-4 columns"><label>Descripcíon</label></div>
    </div>

    <% begin %>
        <% begin %>
            <div class="row">
              <div class="large-4 columns">
                <select id="camera<%=i%>">
                  <% begin %>
                     <% @ref_cameras.each do|lc| %>
                      <option value="<%=lc.brand.brand%> - <%=lc.reference%>" onclick="getIdCamera(<%=lc.id%>);"><%=lc.brand.brand%> - <%=lc.reference%></option>
                    <% end %>
                  <% rescue %>
                  <% end %>  
                </select>

              </div>
              <div class="large-4 columns">
                <select name="type_of_option<%=i%>" id="type_of_option<%=i%>">
                    <option selected value="Entrada">Entrada</option>
                    <option value="Salida">Salida</option>    
                </select>
              </div>
              <div class="large-4 columns">
                <input id="description<%=i%>" type="text" placeholder="Descripcion" style="">
              </div>
            </div>
        <% rescue %>
        <% end %>
    <% end %>

    <div class="row">
      <div class="large-4 columns"><label>Protocolo</label></div>
      <div class="large-4 columns"><label>Usuario</label></div>
      <div class="large-4 columns"><label>Contraseña</label></div>
    </div>

    <div class="row">
      <div class="large-4 columns">
        <select name="protocol<%=i%>" id="protocol<%=i%>">
          <option value="HTTP">HTTP</option>
          <option value="RTSP">RTSP</option>
        </select>
      </div>
      <div class="large-4 columns">
        <input id="user<%=i%>" type="text" placeholder="Usuario">
      </div>
      <div class="large-4 columns">
        <input id="password<%=i%>" type="password" placeholder="Password">
      </div>
    </div>

    <div class="row">
      <div class="large-4 columns"><label>Ipv4</label></div>
      <div class="large-4 columns"><label>Puerto</label></div>
      <div class="large-4 columns"><label>Estado</label></div>
    </div>

    <div class="row">

      <div class="large-4 columns">
        <input id="ip<%=i%>" type="text">
      </div>
      <div class="large-4 columns">
        <input id="port<%=i%>" type="text">
      </div>
      <div class="large-4 columns">
        <div class="row">
          <div class="large-6 columns">
            <div class="switch">
              <input id="state<%=i%>" type="checkbox" checked>
              <label for="state<%=i%>"></label>
            </div> 
          </div>
          <div class="large-6 columns">
            <input id="save" onclick="save_camera(<%=i%>);" type="button" class="button small" value="Guardar" style="padding: 6px 30px; font-size: 15px; ">
          </div>
        </div>
      </div>
      
    </div>
      <br>
  </div>
<br>
<% end %>

<!--reveal -->
<div id="edit_modal" class="reveal-modal tiny" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h2 id="modalTitle">Editar</h2>
      
      <div class="row">
        <label>Nombre del Parqueadero:
          <input id="name" type="text"/>
        </label>
      </div>

      <div class="row">
        <label>Propietario: 
          <input id="owner" type="text"/>
        </label>
      </div>

      <div class="row">
        <label>Ubicación:
          <input id="location" type="text"/>
        </label>
      </div>

      <div class="row">
        <label>Capacidad max: 
          <input id="maximum_capacity" type="text"/>
        </label>
      </div>

      <div class="row">
        <label>Nro Entradas: 
          <input id="number_of_entries" type="text"/>
        </label>
      </div>

      <div class="row">
        <label>Descripción: 
          <input id="observations" type="text"/>
        </label>
      </div>

      <div class="row">
        <label>Numero de Camaras:
          <input id="number_of_cameras" type="text"/>
        </label>
      </div>

     <a href="#" class="button centered" style="margin-left: 110px; margin-right: 110px; margin-bottom: 0; " id="update">Guardar</a>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<div id="edit_manager" class="reveal-modal tiny" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h2 id="modalTitle">Configuracion Red</h2>
      
      <div class="row">
        <label>IP:
          <input id="ip_host" type="text"/>
        </label>
      </div>

      <div class="row">
        <label>SUB MASCARA DE RED: 
          <input id="mask_host" type="text"/>
        </label>
      </div>

      <div class="row">
        <label>GATEWAY: 
          <input id="gateway_host" type="text"/>
        </label>
      </div>

      <div class="row">
        <label>DNS1: 
          <input id="dns_uno_host" type="text"/>
        </label>
      </div>

      <div class="row">
        <label>DNS2: 
          <input id="dns_dos_host" type="text"/>
        </label>
      </div>

    <a href="#" class="button centered" style="margin-left: 120px; margin-right: 120px; margin-bottom: 0; padding: 10px" id="send_conf">Guardar</a>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<div id="backup_usb_modal" class="reveal-modal tiny" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h2 id="modalTitle">Backup Usb</h2>
      
      <div class="row">
          <select id="device" type="text" placeholder="Nombre del dispositivo"></select>
      </div>

       <div class="row">
          <div class="large-5 columns">
              <input id="refresh" type="button" value="Refrescar" style="font-size: 14px; padding-bottom: 10px;" class="button tiny button" />
          </div>

          <div class="large-5 columns">
              <a href="#" class="button tiny button" id="save_backup" style="font-size: 14px; padding-left: 30px; padding-right: 30px;">Guardar</a>
          </div>

          <div class="large-2 columns"></div>
      </div>

    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>