
<div class="row wrapper">
  <div class="small-12 medium-5 large-5 columns">
    <img src="/Logo-Ebenezer-RGB.png" alt="Ebenezer Technologies">
  </div>
  <div class="small-12 medium-7 large-7 columns"></div>
  <div class="row">
    <div class="small-12 medium-5 large-5 columns"></div>
    <div class="small-12 medium-7 large-7 columns">
      <div style="padding: 10px;">
      <h2>Ingreso de usuarios</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            
              <p><label for="user_email"><strong>E-mail: </strong></label></p>
              <p><%= f.email_field :email, autofocus: true %></p>

              <p><label for="user_password"><strong>Contraseña: </strong></label></p>
              <p><%= f.password_field :password, autocomplete: "off" %></p>

              <% if devise_mapping.rememberable? -%>
                <div class="field">
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me, 'Recordar' %>
                </div>
              <% end -%>

              <div class="actions">
                <%= f.submit "Ingresar", class: 'button' %>
              </div>
      <% end %>
      <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>


