<%content_for :javascript do%>
  <%=javascript_include_tag "cameras"%>
<%end%>
<div class="row">
	 <div class="large-2 columns">
      <a style="margin-left: -14px;" id="nuevo" href="cameras/new" class="button tiny button"><strong>Nuevo</strong>
      </a>
  </div>
  <div class="large-2 columns">    
      <a style="margin-left: 51px; padding-left: 10px; font-size: 12px; padding-bottom: 10px; padding-right: 10px;" href="javascript:window.history.back();" class="button tiny button">Volver atrás</a>
  </div>
  <div class="large-8 columns"></div>
</div>

<div class="row">
	<table class="table" width="320">
		<thead>
			<th>Marca</th>
			<th>Referencia</th>
			<th>Accion</th>
		</thead>
		<tbody>
      <% begin %>
  			<%@ref_cameras.each do |lc| %>
  				<tr>
  					<td><%=lc.brand.brand %></td>
  					<td><%=lc.reference%></td>
  					<td>
  						<button style="margin-bottom: 0; padding-left: 30px; padding-right: 30px;" type="button" id="edit_camera" class="success button tiny button" onclick="getCamera(<%= lc.id %>)"><strong>Editar</strong></button>
  					</td>
  				</tr>
        <% end %>
      <% rescue %>
       <p>NULL</p>
  		<%end%> 
		</tbody>
	</table>
</div>


<div id="edit" class="reveal-modal tiny" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h2 id="modalTitle">Editar</h2>
  	<div class="row">
  		<label>
  			Marca:<input type="text" id="brand_text">
  		</label>
  	</div>
  	<div class="row">
  		<label>
  			Referencia:<input type="text" id="reference_text">
  		</label>
  	</div>
    <div class="row">
      <label>
        Path:<input type="text" id="path_text">
      </label>
    </div>
    <div class="row">     
      <input type="button" id="send_and_update" style="margin-bottom:  0;  margin-left: 105px; padding: 9px 20px;" value="Guardar" class="button">
    </div>
    <input id="id_camera" type="text" style="display: none">

  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>