<%content_for :javascript do%>
  <%=javascript_include_tag "cameras"%>
<%end%>

<div class="row">
	<h2>Nueva referencia de camara</h2>
	<form>
		<div class="row" style="margin-top: 10px;">
			<div class="medium-3 columns input">
				<label for="marca" class="margin padding">Marca</label>
			</div>
			<div class="medium-3 columns">
				<input id="brand" placeholder="Marca" class="margin padding" size="26" required>
			</div>
			<div class="medium-6 columns"></div>
		</div>

		<div class="row">
			<div class="medium-3 columns">
				<label class="margin padding" >Referencia</label>
			</div>
			<div class="medium-3 columns">
				<input id="reference" placeholder="Refrencia" class="margin padding" size="26" required>
			</div>
			<div class="medium-6 columns"></div>
		</div>

		<div class="row">
			<div class="medium-3 columns">
				<label class="margin padding">Path</label>
			</div>
			<div class="medium-3 columns">
				<input id="path" placeholder="Path" class="margin padding" size="26" required>
			</div>
			<div class="medium-6 columns"></div>
		</div>
		<br>
		<br>
		<br>
		<div class="row">
			<div class="large-4 columns">
				<input style="margin-bottom:  0;font-size: 12px;" type="button" id="send" class="button tiny button" value="Guardar">	
			</div>
			<div class="large-4 columns">    
       			<a style="margin-bottom:  0; font-size: 12px; margin-left: 27px; " href="javascript:window.history.back();" class="button tiny button">Volver atrás</a>
   			</div>
   			<div class="large-4 columns"></div>
		</div>
	</form>
</div>