<div id="white_list_plate" class="reveal-modal medium" data-reveal aria-labelledby="Editar Placa" aria-hidden="true" role="dialog">
	<h2>Placa en Lista Blanca</h2>
  <div class="small-12 large-5 columns">
  	<img id="white_list_plate_segment_url" src="">
  </div>
  <div class="small-12 large-6 columns" id="white_list_plate_chars">
    <h2></h2>
  </div>
  <div class="small-12 large-6 columns" id="white_list_motivo">
    <h2></h2>
  </div>
  <a class="close-reveal-modal" aria-label="Close" id="close_white_list_plate">&#215;</a>
</div>