<%content_for :javascript do%>
	<%=javascript_include_tag "site"%>
<%end%>

<br>
<br>
<br>
<div class="row" style="display: none;">
	<div class="small-12 columns">
		<label>Vistas:
			<input id="rack" type="button"  value="Rejilla">
			<input id="double_vision" type="button"  value="Doble">
		</label>
	</div>
</div>

<div class="row" id="view_default">
	<% flash.each do |key, value| %>
		<div data-alert class="alert-box success radius">
	  		<%= value %>
	  		<a href="#" class="close">&times;</a>
		</div>    	
	<% end %>
  
  	<!-- Entrada -->
  	<div class="small-12 large-6 columns">
	  	<h2>Entrada</h2>
	  	<div class="row">
	  		<div class="small-4 columns">
	  			<select id="select_in">
	  				<%@parking_cameras_in.each do |pc|%>
	  					<option value="<%=pc.id%>">
	  					<%=pc.description %>
	  					</option>
	  				<% end %>
	  			</select>
	  		</div>
	  		<div class="small-8 columns"></div>
	  	</div>
	  	<ul class="clearing-thumbs" data-clearing>
	      	<li>
	      		<embed id="embed_in" type="application/x-vlc-plugin" pluginspage="http://www.videolan.org"
				version="VideoLAN.VLCPlugin.2" autoplay="yes" loop="no" width="460" height="316" target="" controls="off" style="border: 5px solid green" />
			</li>
		</ul>
		<br>
  </div>
  <!--Fin Entrada -->
  
  <!-- Salida -->
  	<div class="small-12 large-6 columns">
		<h2>Salida</h2>
		<div class="row">
	  		<div class="small-4 columns">
	  			<select id="select_out">
	  				<%@parking_cameras_out.each do |pc|%>
	  					<option value="<%=pc.id%>">
	  					<%=pc.description %>
	  					</option>
	  				<% end %>
	  			</select>
	  		</div>
	  		<div class="small-8 columns"></div>
	  	</div>
		<ul class="clearing-thumbs" data-clearing>
			<li>
		   		<embed id="embed_out" type="application/x-vlc-plugin" autoplay="yes" loop="no" width="460" height="316" target="" controls="off" style="border: 5px solid red"/>
			</li>    
		</ul>
		<br>
  	</div>
	<!-- Fin Salida-->
</div>

<div id="rack_vision" style="display: none">

</div>

<div class="row">
<!--Entrada Manual -->
<!-- rtsp://DBT:1977@192.168.1.60:554 -->
	<div class="large-6 columns">
		<div class="small-6  columns " style="padding-left: 0;">
			<% if @entry_type_1 != nil %>
	                <% if @entry_type_1.plate_segment_url == "" %>
	                        <ul class="clearing-thumbs" data-clearing>
		                		<li>
		                			<a id="entry_full_image_link"  href="http://<%=@entry_type_1.full_image_url%>">
		                    			<strong>Entrada Manual</strong><br><br>
		                			</a>
		                		</li>
	                		</ul>
	                <% else %>
		                <ul class="clearing-thumbs" data-clearing>
			                <li>
			                	<a id="entry_full_image_link"  href="http://<%=@entry_type_1.full_image_url%>">
				                    <img id="entry_plate_segment" 
				                         src="http://<%= @entry_type_1.plate_segment_url %>" alt="" 
				                         style="border: 3px solid blue; height: 75px; width: 142px;">
								    <br>
								    <br>
			                	</a>
			                </li>
		                </ul>
	                <% end %>
			<% end %>
	    </div>

		<div class="small-6 columns" style="padding: 0;">
			<p><strong>Placa: <span id="entry_plate"><%=@entry_type_1.nil? ? '' : @entry_type_1.plate_chars%></span></strong></p>
			<p><strong>Fecha: <span id="entry_date"><%=@entry_type_1.nil? ? '' : @entry_type_1.date%></span></strong></p>
		</div>
		
		<div class="small-6  clearb">
			<p><strong>Hora: <span id="entry_hour"><%=@entry_type_1.nil? ? '' : @entry_type_1.hours%></span></strong></p>
			<p><strong>Estado: <span id="estado_entrada"><%=@entry_type_1.nil? ? '' : @state_input %></span></strong></p>
			<p><a href="#" class="button" data-reveal-id="entrada_manual" id="entrada_manual_button">Entrada Manual</a></p>
		</div>

	</div>

	<!--Salida Manual -->
	<div class="large-6 columns">
		<div class="small-6 columns " style="padding-left: 0;">
		<% if @entry_type_2 != nil %>
			<% if @entry_type_2.plate_segment_url == "" %>
				<ul class="clearing-thumbs" data-clearing>
					<li>
						<a id="exit_full_image_link"  href="http://<%=@entry_type_2.full_image_url%>">
					    	<strong>Salida Manual</strong>
					    	<br>
					    	<br>
						</a>
					</li>
				</ul>
			<% else %>
				<ul class="clearing-thumbs" data-clearing>
	                <li>
	                	<a id="exit_full_image_link"  href="http://<%=@entry_type_2.full_image_url%>">
		                	<img id="exit_plate_segment" src="http://<%= @entry_type_2.plate_segment_url %>" alt="" 
						 	style="border: 3px solid blue; height: 75px; width: 142px;">
						    <br>
						    <br>
						</a>
					</li>
                </ul>
			<% end %>
		<% end %>
	</div>

  	<div class="small-6  columns left" style="padding: 0;">
		<p><strong>Placa: <span id="exit_plate"><%=@entry_type_2.nil? ? '' : @entry_type_2.plate_chars%></span></strong></p>
		<p><strong>Fecha: <span id="exit_date"><%=@entry_type_2.nil? ? '' : @entry_type_2.date%></span></strong></p>
  	</div>

  	<div class="small-6  clearb">
		<p><strong>Hora: <span id="exit_hour"><%=@entry_type_2.nil? ? '' : @entry_type_2.hours%></span></strong></p>
		<p><strong>Estado: <span id="estado_salida"><%=@entry_type_2.nil? ? '' : @state_output %></span></strong></p>
		<p><a href="#" class="button" data-reveal-id="salida_manual" id="salida_manual_button">Salida Manual</a></p>  		
  	</div>
  	</div>
</div>

<div id="entrada_manual" class="reveal-modal medium" data-reveal aria-labelledby="Entrada Manual" aria-hidden="true" role="dialog">
  	<%=form_for @entry, url: site_create_manual_path, format: :json, remote: true, method: :post, html: {id: 'entry_manual', class: 'entry_manual'} do |f|%>
		<h2>Entrada Manual</h2>
		<h3>Placa: </h3> 
		<p id="entrada_mensaje"></p>
		<div class="small-6 columns">
			<input type="text" name="entry[plate_chars]" id="entrada_manual_plate">
		</div>
		<div class="small-6 columns">
			<input type="hidden" name="entry[full_image_url]" value="">
			<input type="hidden" name="entry[device_id]" value="1">
			<input type="hidden" name="entry[entry_type]" value="1">
			<input type="submit" class="button small" value="Guardar" id="entrada_submit">
			<img src="/assets/ajax-loader.gif" width="32px" height="32px" alt="Por favor, espere..." id="entrada_gif" >
		</div>
	<% end %>
  <a class="close-reveal-modal" aria-label="Cerrar" id="close_entrada_manual">&#215;</a>
</div>

<div id="salida_manual" class="reveal-modal medium" data-reveal aria-labelledby="Salida Manual" aria-hidden="true" role="dialog">
  	<%=form_for @entry, url: site_create_manual_path, format: :json, remote: true, method: :post, html: {id: 'entry_manual', class: 'entry_manual'} do |f|%>
		<h2>Salida Manual</h2>
		<h3>Placa: </h3> 
		<p id="salida_mensaje"></p>
		<div class="small-6 columns">
			<input type="text" name="entry[plate_chars]" id="salida_manual_plate">
		</div>
		<div class="small-6 columns">
			<input type="hidden" name="entry[full_image_url]" value="">
			<input type="hidden" name="entry[device_id]" value="2">
			<input type="hidden" name="entry[entry_type]" value="2">
		   	<input type="submit" class="button small" value="Guardar" id="salida_submit">
			<img src="/assets/ajax-loader.gif" width="32px" height="32px" alt="Por favor, espere..." id="salida_gif" >
		</div>
	<%end%>
  <a class="close-reveal-modal" aria-label="Cerrar" id="close_salida_manual">&#215;</a>
</div>

<div id="black_list_plate" class="reveal-modal medium" data-reveal aria-labelledby="Editar Placa" aria-hidden="true" role="dialog">
	<h2>Placa en Lista Negra</h2>
  <div class="small-12 large-5 columns">
  	<img id="black_list_plate_segment_url" src="">
  </div>
  <div class="small-12 large-6 columns" id="black_list_plate_chars">
    <h2></h2>
  </div>
  <div class="small-12 large-6 columns" id="black_list_motivo">
    <h2></h2>
  </div>
  <a class="close-reveal-modal" aria-label="Close" id="close_black_list_plate">&#215;</a>
</div>

<%= render 'white_list' %>

<div id="confirmacion" class="reveal-modal tiny" data-reveal aria-labelledby="secondModalTitle" aria-hidden="true" role="dialog">
  <p>Esta seguro de continuar con la operación?</p>
  <a class="button" id="continue">Continuar</a>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
