/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 *= require font-awesome
 *= require responsive-tables
 */


table.scroll tbody,
table.scroll thead { display: block; }

table.scroll tbody {
    height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
}


body{
	background-color: #f5f5f5;
	overflow-x: hidden; 
}

.imagesin{
	margin-bottom: 30px;
	border: solid 4px green;
	width: 100%;
}

.imagesout{
	margin-bottom: 30px;
	border: solid 4px red;
	width: 100%;
}

.imgsegment{
	width: 200px;
}
.clearb{
	clear: both;
}
.positionr{
	position: relative;
}
.positionplaca{
	position: absolute;
  	top: 22%;
  	left: 14%;
  	font-size: 62px!important;
  	height: 92px!important;
  	width: 73%!important;
  	background: yellow!important;
  	border: yellow!important;
  	text-transform: uppercase;
  	text-align: center;
}

.capacidad{
	text-align: center;
	color: white;
	width: 170px;
	height: 170px;
	padding-top: 20px;
  	position: fixed;
  	right: 5px;
  	top: 20%;
  	background-color: #008cba;
  	border: solid 5px white;
  	z-index: 3;
  	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	-webkit-box-shadow: 0px 0px 13px 0px rgba(50, 50, 50, 1);
	-moz-box-shadow:    0px 0px 13px 0px rgba(50, 50, 50, 1);
	box-shadow:         0px 0px 13px 0px rgba(50, 50, 50, 1);
}

.capacidad p{
	font-size: 20px;
	margin: 0;
	text-shadow:
	1px 1px 0 #CCC,
	2px 2px 0 #CCC, /* end of 2 level deep grey shadow */
	2px 2px 0 #444,
	3px 3px 0 #444,
	4px 4px 0 #444,
	5px 5px 0 #444; /* end of 4 level deep dark shadow */
}

.capacidadmovil{
	margin-top: 10px;
	text-align: center;
	color: white;
	width: 170px;
	height: 170px;
	padding-top: 20px;
  	background-color: #008cba;
  	border: solid 5px white;
  	z-index: 3;
  	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	-webkit-box-shadow: 0px 0px 13px 0px rgba(50, 50, 50, 1);
	-moz-box-shadow:    0px 0px 13px 0px rgba(50, 50, 50, 1);
	box-shadow:         0px 0px 13px 0px rgba(50, 50, 50, 1);
}

.capacidadmovil p{
	font-size: 20px;
	margin: 0;
	text-shadow:
	1px 1px 0 #CCC,
	2px 2px 0 #CCC, /* end of 2 level deep grey shadow */
	2px 2px 0 #444,
	3px 3px 0 #444,
	4px 4px 0 #444,
	5px 5px 0 #444; /* end of 4 level deep dark shadow */
}
.tablelist td{
	font-size: 22px!important;
	text-align: center;
}
.tablelist th{
	font-size: 22px!important;
	text-align: center;
}

.logoeb{
	height: 60px!important;
}

.marginb{
	margin-bottom: 10px;
}

.right li{
	display: block;
	margin-left: 0;	
}

.topmenulineheight{
	line-height:0!important;
	padding:10px 20px!important;
	text-align:center!important;
}

.right label{
	color:white!important;
}

.widthlinav{
	width: 135px!important;
}

.borderbsearch{
	border-bottom: solid 1px gray;
	margin-bottom: 15px!important;
}
#new_user p, .edit_user p
{
	width: 400px;
}

.align_right{
	float: right;
	margin-right: 12px;
}