/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.margin{
	margin-bottom: 15px;
}

.padding{
	padding-top: 5px;
	padding-bottom: 5px; 
}
