/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
.wrapper
{
	background-color: #FFF;
}
.body
{
	background-color: #008cba;
}

.wrapper form p
{
	width: 400px;
}