<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : "Ebenezer Techs" %></title>
    
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <br>
    <div class="row">      
      <div class="right">      
        <% if user_signed_in? %>
          Estás logeado como <a href="/admin/users/<%= current_user.id %>/edit"> <%= current_user.full_name %></a>. 
          <%= link_to('Salir', destroy_user_session_path, :method=>'delete') %>  
        <%end%>
      </div>
    </div>

    <%= yield %>
    <%= javascript_include_tag "application" %>
    <%= yield :javascript %>
  </body>
</html>